{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            
            <form action="/register" class="p-4" method="post">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show mb-4" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <h1 class="mb-4">Sign up</h1>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input placeholder="Username" name="username" class="form-control" required>
                </div>
                
                <div class="input-group mb-4">
                    <input type="password" placeholder="Password" name="password" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-primary w-100">Create account</button>
                
                <div class="mt-4">
                    <h6>
                        Already have an account? <a href="{{ url_for('login') }}" class="text-decoration-none">Login here.</a>
                    </h6>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}